@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Play|Raleway&display=swap');

* {
    margin: 0;    
    padding: 0;
}

html {
    margin: 0;    
    padding: 0;
    width: 100%;
}


body {
    font-family: Raleway;
    margin: 0;     
    padding: 0;
    min-width: 350px;
    font-size: 10px;
}

.paragraphStyle {
    font-family: Play;
    font-size: 1.5rem;
    color: #22a7f0;
    text-transform: uppercase;
}

/*top*/

.topForFlexLeft {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    margin-top: .5%;
    margin-bottom: .5%;
}

.border-5 {
    border-width: 2px !important;
    border-color: black !important;
}

#inerRight {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    font-size: small;
    margin-top: .5%;
    margin-bottom: .5%;    
    font-family: fantasy;
}

#inerRight > img {
    padding-right: 20px;
}

#inerRightFlex {
    display: flex;
    align-items: center;
    justify-content: space-around; 

}

@media screen and (min-width: 992px) {
    .topForFlexLeft {
        margin-right: 50%;
    }
}

/*navigation*/

#navigationSet {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 1.3rem;
}


#navigationSet > a:not(:last-child){
    margin-right: 4%;
}

.link {
    color: #363636;
}

.link:hover {
    color: #22a7f0;   
    transition: color 0.2s linear;    
    text-decoration: none;
}

.active {
    color: #22a7f0;
}
/*<img src="images/logos/checkbox-logo.png" alt="" height="150px">*/

#logoBackground {
    background-image: url('../images/logos/checkbox-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}


@media screen and (min-width: 992px) {
    #logoBackground {
        height: 150px;
    }
}

@media screen and (min-width: 1200px){
    #logoBackground {
        height: 200px;
    }
}

/*slider*/
/*
#slider {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background: #363636;
    color: white;
    font-size: 4.0rem;
    min-height: 500px;
    text-align: center;
}

#infoLogo {
    font-size: 2.0rem;
}

@media screen and (max-width: 554px) {
    #slider {
        font-size: 2.0rem;
        min-height: 400px;
    }

    #infoLogo {
        font-size: 1.0rem;
    }
}

.sButtons {
    text-align: center;
    background: transparent;
    border-color: white;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
}

#aboutButton {
    height: 50px;
    font-size: 1.4rem;
    
}

#sideButtonLeft, #sideButtonRight{
    height: 80px;
    width: 80px;
    font-size: 2rem;
}

#sideButtonLeft {
    margin-left: 2%;
}

#sideButtonRight {
    margin-right: 2%;
}
*/


#slider {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #363636;
 }
 #slides .slide_2 {
    background:#363636;
 }
 #slides .slide_3 {
    background:#363636;
 }
 #slides .slide_4 {
    background:#363636;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(4),
 #slide2:checked ~ #controls label:nth-child(1),
 #slide3:checked ~ #controls label:nth-child(2),
 #slide4:checked ~ #controls label:nth-child(3) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 1%;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 1% 0 0;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 /*
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),

    #slide1:checked ~ #controls label:nth-last-child(4),
    #slide2:checked ~ #controls label:nth-last-child(1),
    #slide3:checked ~ #controls label:nth-last-child(2),
    #slide4:checked ~ #controls label:nth-last-child(3) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }*/

/*services*/

.services {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
}

.service_set {
    margin-bottom: 50px;
}

.service_set > p {    
    text-transform: uppercase;
    font-size: 2.0em;
    font-family: "Play";
    color: #22a7f0;
}

.service_set > div {
    font-size: 1.4em;
    font-family: "Open Sans";

}

/*recentProjects TODO*/

.resP {

}

/*funFacts */

.funFacts {
    background: #22a7f0;
    text-align: center;
    color: #ffffff;
}

.factsSet {    
    padding-top: 14%;
    padding-bottom: 14%;
    font-family: Play;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    background: #ffffff;
    height: 2px;
    width: 45px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.factsSet > .funNumber {
    font-weight: bold;
    font-size: 3rem;
}

.funFacts > div {
    font-size: 1.5rem;
}


/*from blog*/

.fromBlog {
    margin-top: 70px;
    margin-bottom: 70px;
    
}
