@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Play|Raleway&display=swap');

* {
    margin: 0;    
    padding: 0;
}

html {
    margin: 0;    
    padding: 0;
    width: 100%;
}


body {
    font-family: Raleway;
    margin: 0;     
    padding: 0;
    min-width: 350px;
    font-size: 10px;
}

/*top*/

.topForFlexLeft {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    margin-top: .5%;
    margin-bottom: .5%;
}

.border-5 {
    border-width: 2px !important;
    border-color: black !important;
}

#inerRight {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    font-size: small;
    margin-top: .5%;
    margin-bottom: .5%;    
    font-family: fantasy;
}

#inerRight > img {
    padding-right: 20px;
}

#inerRightFlex {
    display: flex;
    align-items: center;
    justify-content: space-around; 

}

@media screen and (min-width: 992px) {
    .topForFlexLeft {
        margin-right: 50%;
    }
}

/*navigation*/

#navigationSet {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 1.3rem;
}


#navigationSet > a:not(:last-child){
    margin-right: 4%;
}

.link {
    color: #363636;
}

.link:hover {
    color: cornflowerblue;   
    transition: color 0.2s linear;    
    text-decoration: none;
}

.active {
    color: cornflowerblue;
}
/*<img src="images/logos/checkbox-logo.png" alt="" height="150px">*/

#logoBackground {
    background-image: url('../images/logos/checkbox-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
}


@media screen and (min-width: 992px) {
    #logoBackground {
        height: 150px;
    }
}

@media screen and (min-width: 1200px){
    #logoBackground {
        height: 200px;
    }
}

/*slider*/

#slider {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background: #363636;
    color: white;
    font-size: 4.0rem;
    min-height: 500px;
    text-align: center;
}

#infoLogo {
    font-size: 2.0rem;
}

.sButtons {
    text-align: center;
    background: transparent;
    border-color: white;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
    /*border-radius: 4px;*/
}

#aboutButton {
    height: 50px;
    font-size: 1.4rem;
    
}

#sideButtonLeft, #sideButtonRight{
    height: 80px;
    width: 80px;
    font-size: 2rem;
}

#sideButtonLeft {
    margin-left: 2%;
}

#sideButtonRight {
    margin-right: 2%;
}